<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="All_in_One_Checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <All_in_One_Checker.Properties.Settings>
            <setting name="SaveSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveRemain" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemainTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ShowLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundFound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="YandexMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceCheckProxy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchText" serializeAs="String">
                <value>@steampowered.com</value>
            </setting>
            <setting name="SearchMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FromLetter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToLetter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FromLetterCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToLetterCount" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="DownloadLetters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadLettersCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CheckDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyUnread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckMoney" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FromMoney" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HideMeKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BestProxyKey" serializeAs="String">
                <value />
            </setting>
            <setting name="FineproxyLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="FineproxyPass" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoupdateProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeUpdateProxy" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LinksBox" serializeAs="String">
                <value>http://www.cool-tests.com/all-working-proxies.php
http://socks24.ru/proxy/httpProxies.txt</value>
            </setting>
            <setting name="SaveGProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="DeleteProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CountProxyError" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CheckSpam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveBad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateTo" serializeAs="String">
                <value>1000-01-01</value>
            </setting>
            <setting name="DateFrom" serializeAs="String">
                <value>1000-01-01</value>
            </setting>
            <setting name="ImapProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CountYandex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AuthProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ShutdownAfterWork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckPhone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlockedToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyType" serializeAs="String">
                <value>Http</value>
            </setting>
            <setting name="ProxyService" serializeAs="String">
                <value>Fineproxy</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RebruteCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoChangeIp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckRetrieve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipBlocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntigateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAntigate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnticaptchaService" serializeAs="String">
                <value>Antigate</value>
            </setting>
            <setting name="RequestList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>@steampowered.com</string>
                        <string>@em.ea.com</string>
                        <string>@worldoftanks.ru</string>
                        <string>@email.ubi.com</string>
                        <string>@4game.ru</string>
                        <string>@vk.com</string>
                        <string>@tankionline.com</string>
                        <string>@pw.mail.ru</string>
                        <string>@webmoney.ru</string>
                        <string>@cfire.ru</string>
                        <string>@samp-rp.ru</string>
                        <string>@oplata.info</string>
                        <string>@gamexp.ru</string>
                        <string>@leonbets.com</string>
                        <string>@warface</string>
                        <string>@paypal.com</string>
                        <string>@wargaming.net</string>
                        <string>@myarena.ru</string>
                        <string>@mojang.com</string>
                        <string>@minecraft.net</string>
                        <string>@email.leagueoflegends.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ImapServers" serializeAs="Xml">
                <value>
                    <ArrayOfImapItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ImapItem>
                            <Domain>
                                <string>outlook.*</string>
                                <string>hotmail.*</string>
                                <string>msn.com</string>
                                <string>live.com</string>
                            </Domain>
                            <Server>imap-mail.outlook.com</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>yahoo.*</string>
                            </Domain>
                            <Server>imap.mail.yahoo.com</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>gmx.de</string>
                            </Domain>
                            <Server>imap.gmx.net</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>mail.com</string>
                                <string>email.com</string>
                                <string>usa.com</string>
                                <string>myself.com</string>
                                <string>consultant.com</string>
                                <string>post.com</string>
                                <string>europe.com</string>
                                <string>asia.com</string>
                                <string>iname.com</string>
                                <string>writeme.com</string>
                                <string>dr.com</string>
                                <string>engineer.com</string>
                                <string>cheerful.com</string>
                                <string>accountant.com</string>
                                <string>techie.com</string>
                                <string>linuxmail.org</string>
                                <string>lawyer.com</string>
                                <string>uymail.com</string>
                                <string>contractor.net</string>
                                <string>accountant.com</string>
                                <string>activist.com</string>
                                <string>adexec.com</string>
                                <string>allergist.com</string>
                                <string>alumni.com</string>
                                <string>alumnidirector.com</string>
                                <string>angelic.com</string>
                                <string>appraiser.net</string>
                                <string>archaeologist.com</string>
                                <string>arcticmail.com</string>
                                <string>artlover.com</string>
                                <string>asia.com</string>
                                <string>auctioneer.net</string>
                                <string>bartender.net</string>
                                <string>bikerider.com</string>
                                <string>birdlover.com</string>
                                <string>brew-meister.com</string>
                                <string>cash4u.com</string>
                                <string>chef.net</string>
                                <string>chemist.com</string>
                                <string>clerk.com</string>
                                <string>clubmember.org</string>
                                <string>collector.org</string>
                                <string>columnist.com</string>
                                <string>comic.com</string>
                                <string>computer4u.com</string>
                                <string>consultant.com</string>
                                <string>contractor.net</string>
                                <string>coolsite.net</string>
                                <string>counsellor.com</string>
                                <string>cyberservices.com</string>
                                <string>deliveryman.com</string>
                                <string>diplomats.com</string>
                                <string>disposable.com</string>
                                <string>doctor.com</string>
                                <string>dr.com</string>
                                <string>engineer.com</string>
                                <string>execs.com</string>
                                <string>fastservice.com</string>
                                <string>financier.com</string>
                                <string>fireman.net</string>
                                <string>gardener.com</string>
                                <string>geologist.com</string>
                                <string>graduate.org</string>
                                <string>graphic-designer.com</string>
                                <string>groupmail.com</string>
                                <string>hairdresser.net</string>
                                <string>homemail.com</string>
                                <string>hot-shot.com</string>
                                <string>instruction.com</string>
                                <string>instructor.net</string>
                                <string>insurer.com</string>
                                <string>job4u.com</string>
                                <string>journalist.com</string>
                                <string>lawyer.com</string>
                                <string>legislator.com</string>
                                <string>lobbyist.com</string>
                                <string>minister.com</string>
                                <string>musician.org</string>
                                <string>myself.com</string>
                                <string>net-shopping.com</string>
                                <string>optician.com</string>
                                <string>orthodontist.net</string>
                                <string>pediatrician.com</string>
                                <string>photographer.net</string>
                                <string>physicist.net</string>
                                <string>planetmail.com</string>
                                <string>planetmail.net</string>
                                <string>politician.com</string>
                                <string>post.com</string>
                                <string>presidency.com</string>
                                <string>priest.com</string>
                                <string>programmer.net</string>
                                <string>publicist.com</string>
                                <string>qualityservice.com</string>
                                <string>radiologist.net</string>
                                <string>realtyagent.com</string>
                                <string>registerednurses.com</string>
                                <string>repairman.com</string>
                                <string>representative.com</string>
                                <string>rescueteam.com</string>
                                <string>salesperson.net</string>
                                <string>scientist.com</string>
                                <string>secretary.net</string>
                                <string>socialworker.net</string>
                                <string>sociologist.com</string>
                                <string>solution4u.com</string>
                                <string>songwriter.net</string>
                                <string>surgical.net</string>
                                <string>teachers.org</string>
                                <string>tech-center.com</string>
                                <string>techie.com</string>
                                <string>technologist.com</string>
                                <string>theplate.com</string>
                                <string>therapist.net</string>
                                <string>toothfairy.com</string>
                                <string>tvstar.com</string>
                                <string>umpire.com</string>
                                <string>webname.com</string>
                                <string>worker.com</string>
                                <string>workmail.com</string>
                                <string>writeme.com</string>
                                <string>2trom.com</string>
                                <string>activist.com</string>
                                <string>aircraftmail.com</string>
                                <string>artlover.com</string>
                                <string>atheist.com</string>
                                <string>bikerider.com</string>
                                <string>birdlover.com</string>
                                <string>blader.com</string>
                                <string>boardermail.com</string>
                                <string>brew-master.com</string>
                                <string>brew-meister.com</string>
                                <string>bsdmail.com</string>
                                <string>catlover.com</string>
                                <string>chef.net</string>
                                <string>clubmember.org</string>
                                <string>collector.org</string>
                                <string>cutey.com</string>
                                <string>dbzmail.com</string>
                                <string>doglover.com</string>
                                <string>doramail.com</string>
                                <string>galaxyhit.com</string>
                                <string>gardener.com</string>
                                <string>greenmail.net</string>
                                <string>hackermail.com</string>
                                <string>hilarious.com</string>
                                <string>keromail.com</string>
                                <string>kittymail.com</string>
                                <string>linuxmail.org</string>
                                <string>lovecat.com</string>
                                <string>marchmail.com</string>
                                <string>musician.org</string>
                                <string>nonpartisan.com</string>
                                <string>petlover.com</string>
                                <string>photographer.net</string>
                                <string>snakebite.com</string>
                                <string>songwriter.net</string>
                                <string>techie.com</string>
                                <string>theplate.com</string>
                                <string>toke.com</string>
                                <string>uymail.com</string>
                                <string>computer4u.com</string>
                                <string>consultant.com</string>
                                <string>contractor.net</string>
                                <string>coolsite.net</string>
                                <string>cyberdude.com</string>
                                <string>cybergal.com</string>
                                <string>cyberservices.com</string>
                                <string>cyber-wizard.com</string>
                                <string>engineer.com</string>
                                <string>fastservice.com</string>
                                <string>graphic-designer.com</string>
                                <string>groupmail.com</string>
                                <string>homemail.com</string>
                                <string>hot-shot.com</string>
                                <string>housemail.com</string>
                                <string>humanoid.net</string>
                                <string>iname.com</string>
                                <string>inorbit.com</string>
                                <string>mail-me.com</string>
                                <string>myself.com</string>
                                <string>net-shopping.com</string>
                                <string>null.net</string>
                                <string>physicist.net</string>
                                <string>planetmail.com</string>
                                <string>planetmail.net</string>
                                <string>post.com</string>
                                <string>programmer.net</string>
                                <string>qualityservice.com</string>
                                <string>rocketship.com</string>
                                <string>scientist.com</string>
                                <string>solution4u.com</string>
                                <string>tech-center.com</string>
                                <string>techie.com</string>
                                <string>technologist.com</string>
                                <string>webname.com</string>
                                <string>workmail.com</string>
                                <string>writeme.com</string>
                                <string>acdcfan.com</string>
                                <string>angelic.com</string>
                                <string>artlover.com</string>
                                <string>atheist.com</string>
                                <string>chemist.com</string>
                                <string>diplomats.com</string>
                                <string>discofan.com</string>
                                <string>elvisfan.com</string>
                                <string>execs.com</string>
                                <string>hiphopfan.com</string>
                                <string>housemail.com</string>
                                <string>kissfans.com</string>
                                <string>madonnafan.com</string>
                                <string>metalfan.com</string>
                                <string>minister.com</string>
                                <string>musician.org</string>
                                <string>ninfan.com</string>
                                <string>oath.com</string>
                                <string>ravemail.com</string>
                                <string>reborn.com</string>
                                <string>reggaefan.com</string>
                                <string>snakebite.com</string>
                                <string>songwriter.net</string>
                                <string>bellair.net</string>
                                <string>californiamail.com</string>
                                <string>dallasmail.com</string>
                                <string>nycmail.com</string>
                                <string>pacific-ocean.com</string>
                                <string>pacificwest.com</string>
                                <string>sanfranmail.com</string>
                                <string>usa.com</string>
                                <string>africamail.com</string>
                                <string>arcticmail.com</string>
                                <string>asia.com</string>
                                <string>asia-mail.com</string>
                                <string>australiamail.com</string>
                                <string>berlin.com</string>
                                <string>brazilmail.com</string>
                                <string>chinamail.com</string>
                                <string>dublin.com</string>
                                <string>dutchmail.com</string>
                                <string>englandmail.com</string>
                                <string>europe.com</string>
                                <string>europemail.com</string>
                                <string>germanymail.com</string>
                                <string>irelandmail.com</string>
                                <string>israelmail.com</string>
                                <string>italymail.com</string>
                                <string>koreamail.com</string>
                                <string>mexicomail.com</string>
                                <string>moscowmail.com</string>
                                <string>munich.com</string>
                                <string>polandmail.com</string>
                                <string>safrica.com</string>
                                <string>samerica.com</string>
                                <string>scotlandmail.com</string>
                                <string>spainmail.com</string>
                                <string>swedenmail.com</string>
                                <string>swissmail.com</string>
                                <string>torontomail.com</string>
                                <string>angelic.com</string>
                                <string>atheist.com</string>
                                <string>disciples.com</string>
                                <string>innocent.com</string>
                                <string>minister.com</string>
                                <string>muslim.com</string>
                                <string>oath.com</string>
                                <string>priest.com</string>
                                <string>protestant.com</string>
                                <string>reborn.com</string>
                                <string>reincarnate.com</string>
                                <string>religious.com</string>
                                <string>saintly.com</string>
                            </Domain>
                            <Server>imap.mail.com</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>fastmail.*</string>
                                <string>123mail.org</string>
                                <string>airpost.net</string>
                                <string>eml.cc</string>
                                <string>fmail.co.uk</string>
                                <string>fmgirl.com</string>
                                <string>fmguy.com</string>
                                <string>mailbolt.com</string>
                                <string>mailcan.com</string>
                                <string>mailhaven.com</string>
                                <string>mailmight.com</string>
                                <string>ml1.net</string>
                                <string>mm.st</string>
                                <string>myfastmail.com</string>
                                <string>proinbox.com</string>
                                <string>promessage.com</string>
                                <string>rushpost.com</string>
                                <string>sent.as</string>
                                <string>sent.at</string>
                                <string>sent.com</string>
                                <string>speedymail.org</string>
                                <string>warpmail.net</string>
                                <string>xsmail.com</string>
                                <string>150mail.com</string>
                                <string>150ml.com</string>
                                <string>16mail.com</string>
                                <string>2-mail.com</string>
                                <string>4email.net</string>
                                <string>50mail.com</string>
                                <string>allmail.net</string>
                                <string>bestmail.us</string>
                                <string>cluemail.com</string>
                                <string>elitemail.org</string>
                                <string>emailcorner.net</string>
                                <string>emailengine.net</string>
                                <string>emailengine.org</string>
                                <string>emailgroups.net</string>
                                <string>emailplus.org</string>
                                <string>emailuser.net</string>
                                <string>f-m.fm</string>
                                <string>fast-email.com</string>
                                <string>fast-mail.org</string>
                                <string>fastem.com</string>
                                <string>fastemail.us</string>
                                <string>fastemailer.com</string>
                                <string>fastest.cc</string>
                                <string>fastimap.com</string>
                                <string>fastmailbox.net</string>
                                <string>fastmessaging.com</string>
                                <string>fea.st</string>
                                <string>fmailbox.com</string>
                                <string>ftml.net</string>
                                <string>h-mail.us</string>
                                <string>hailmail.net</string>
                                <string>imap-mail.com</string>
                                <string>imap.cc</string>
                                <string>imapmail.org</string>
                                <string>inoutbox.com</string>
                                <string>internet-e-mail.com</string>
                                <string>internet-mail.org</string>
                                <string>internetemails.net</string>
                                <string>internetmailing.net</string>
                                <string>jetemail.net</string>
                                <string>justemail.net</string>
                                <string>letterboxes.org</string>
                                <string>mail-central.com</string>
                                <string>mail-page.com</string>
                                <string>mailandftp.com</string>
                                <string>mailas.com</string>
                                <string>mailc.net</string>
                                <string>mailforce.net</string>
                                <string>mailftp.com</string>
                                <string>mailingaddress.org</string>
                                <string>mailite.com</string>
                                <string>mailnew.com</string>
                                <string>mailsent.net</string>
                                <string>mailservice.ms</string>
                                <string>mailup.net</string>
                                <string>mailworks.org</string>
                                <string>mymacmail.com</string>
                                <string>nospammail.net</string>
                                <string>ownmail.net</string>
                                <string>petml.com</string>
                                <string>postinbox.com</string>
                                <string>postpro.net</string>
                                <string>realemail.net</string>
                                <string>reallyfast.biz</string>
                                <string>reallyfast.info</string>
                                <string>speedpost.net</string>
                                <string>ssl-mail.com</string>
                                <string>swift-mail.com</string>
                                <string>the-fastest.net</string>
                                <string>the-quickest.com</string>
                                <string>theinternetemail.com</string>
                                <string>veryfast.biz</string>
                                <string>veryspeedy.net</string>
                                <string>yepmail.net</string>
                                <string>your-mail.com</string>
                                <string>operamail.com</string>
                            </Domain>
                            <Server>mail.messagingengine.com</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>hushmail.com</string>
                                <string>hushmail.me</string>
                                <string>hush.com</string>
                                <string>hush.ai</string>
                                <string>mac.hush.com</string>
                            </Domain>
                            <Server>imap.hushmail.com</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>runbox.com</string>
                            </Domain>
                            <Server>secure.runbox.com</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>seznam.cz</string>
                                <string>email.cz</string>
                                <string>post.cz</string>
                                <string>spoluzaci.cz</string>
                                <string>stream.cz</string>
                                <string>firmy.cz</string>
                            </Domain>
                            <Server>imap.seznam.cz</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>att.net</string>
                            </Domain>
                            <Server>imap.mail.att.net</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>lycos.com</string>
                            </Domain>
                            <Server>imap.lycos.com</Server>
                            <Port>143</Port>
                            <UseSsl>false</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>aol.com</string>
                                <string>netscape.net</string>
                            </Domain>
                            <Server>imap.aol.com</Server>
                            <Port>143</Port>
                            <UseSsl>false</UseSsl>
                        </ImapItem>
                        <ImapItem>
                            <Domain>
                                <string>tut.by</string>
                            </Domain>
                            <Server>imap.gmail.com</Server>
                            <Port>993</Port>
                            <UseSsl>true</UseSsl>
                        </ImapItem>
                    </ArrayOfImapItem>
                </value>
            </setting>
            <setting name="MailRuCaptchaBypass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckFromMailRu" serializeAs="String">
                <value>False</value>
            </setting>
        </All_in_One_Checker.Properties.Settings>
    </userSettings>
</configuration>